<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- <h1>List of Students</h1>
    in for loop the sequence is students rendered in views
           student is the instance
    {%for student in students%}
        <div>
            <li>{{student.studentname}}</li>
        </div>
    {%endfor%} -->

</body>
</html>