{%extends 'mentoring/base.html'%}
{%load static%}


{%block content%}
<div class="row">
    <div class="col-md-6 content">

        <div class="">
            <h1>
                Welcome to our community
            </h1> <br>
            <p>Join us and let us grow together</p>

            <a href="#" class="btn btn-primary" >Register</a>
            <a href="#" class="btn btn-primary" >Login</a>
            </div>
            

    </div>

    <div class="col-md-6">
        <img class="img-fluid" src="{%static 'images/community.webp'%}" alt="" srcset="">
    </div>
</div>

{%endblock%}