<!-- <section id="header">
    <nav class="navbar navbar-expand-lg navbar-light ">

        <a class="navbar-brand" href="{% url 'home' %}">TECHCODES254</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerid" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse d-flex justify-content-center navbar-collapse" id="navbarTogglerid">
        
        <ul class="navbar-nav   mb-2 mb-lg-0">

          <li class="">
            <a class="nav-link" href="{% url 'home'%}">HOME</a>
          </li>
          <li class="">
            <a class="nav-link" href="{% url 'mentee'%}">FIND A MENTOR</a>
          </li>
          
          <li class="">
            <a class="nav-link" href="">SHOP</a>
          </li>
          <li class="">
            <a class="nav-link" href="">CONTACT</a>
          </li>
        </ul>
        

      </div> -->
      <div class="ms-auto">
        <a href="" class="btn btn-primary" >Register</a>
        <a href="" class="btn btn-primary" >Login</a>
      </div>
    
  </nav>
</section> -->